# Virtual environment
minisproject2025/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# IDE/editor files (optional)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
